<a class="person" href="{{ ('/team/' + p.slug + '/') | url }}">
  <div class="portrait" data-code="{{ p.code }}"></div>
  <div>
    <p class="person-role">{{ p.role }}</p>
    <h3>{{ p.name }}</h3>
    <p class="mt-8">{{ p.short }}</p>
  </div>
</a>
